@import './reset.css';
@import './base.css';

#app {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 0.5em 0;
}

button {
  background-color: #7d7aad;
  color: #FFF;
  padding: 0.5em;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    background-color: #fff;
    color: #000;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    min-width: 800px;
  }
}
